<div class="column">
  <div class="card-product">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
    <div class="card-product-infos">
      <h2><%= entity.name %></h2>
      <p><%= entity.address %></p>
    </div>
  </div>
</div>
